In [3]:
import numpy as np
import pandas as pd

In [14]:
tripadv=pd.read_csv('tripadv.csv')
tripadv.head()

,attraction,attraction_city,mo_yr_posted_final,mo_yr_visited,num_contributions_user,num_helpful_user,num_helpful_votes,rating,rev_text,rev_title,user,user_loc
0,Fenway Park,Boston,19-Sep,19-Aug,750,90,0,5,Fenway Park is one of the two legendary baseba...,Legendary Ball Park,HNBISOFF,"Bedford, Texas"
1,Fenway Park,Boston,19-Sep,19-Aug,12,2,0,5,We went to see Zac Brown Band. Was unsure how ...,Zac Brown Band Concert,lisab9950,"Cornelius, North Carolina"
2,Fenway Park,Boston,19-Sep,19-Jun,5,1,0,5,This is where baseball was meant to be played ...,Heaven,chacebryce,"Providence, Rhode Island"
3,Fenway Park,Boston,19-Sep,19-Sep,64,9,0,5,Went to Fenway to see Zac Brown Band and had a...,Great place for a concert,Gail H,"Southold, United States"
4,Fenway Park,Boston,19-Sep,19-Sep,417,74,0,5,"Fenway is always a great night out, games, con...",Great night out,Sean M,"Alfred, Maine"

In [19]:
tripadv.columns = ['Attraction', 
                   'City', 
                   'Posted', 
                   'Visited', 
                   'User_Reviews', 
                   'User_Helpful', 
                   'Review_Helpful', 
                   'Rating', 
                   'Text', 
                   'Title', 
                   'Username', 
                   'User_Location']

tripadv.head()

,Attraction,City,Posted,Visited,User_Reviews,User_Helpful,Review_Helpful,Rating,Text,Title,Username,User_Location
0,Fenway Park,Boston,19-Sep,19-Aug,750,90,0,5,Fenway Park is one of the two legendary baseba...,Legendary Ball Park,HNBISOFF,"Bedford, Texas"
1,Fenway Park,Boston,19-Sep,19-Aug,12,2,0,5,We went to see Zac Brown Band. Was unsure how ...,Zac Brown Band Concert,lisab9950,"Cornelius, North Carolina"
2,Fenway Park,Boston,19-Sep,19-Jun,5,1,0,5,This is where baseball was meant to be played ...,Heaven,chacebryce,"Providence, Rhode Island"
3,Fenway Park,Boston,19-Sep,19-Sep,64,9,0,5,Went to Fenway to see Zac Brown Band and had a...,Great place for a concert,Gail H,"Southold, United States"
4,Fenway Park,Boston,19-Sep,19-Sep,417,74,0,5,"Fenway is always a great night out, games, con...",Great night out,Sean M,"Alfred, Maine"

## Contributions and Rating

In [30]:
# average
grp_city = tripadv.groupby('City')
grp_city.size()

City
Boston           2485
Chicago          2500
Los Angeles      2485
New York City    2095
dtype: int64

In [47]:
grp_city.agg(['count', 'sum', 'max', 'mean', 'std'])

# from here, we can try to pull out specific aggregators for each subject

              User_Helpful                                    Review_Helpful  \
                     count     sum  max       mean        std          count
City
Boston                2485  108977  965  43.853924  81.227563           2485
Chicago               2500   96206  854  38.482400  84.864929           2500
Los Angeles           2485  100250  951  40.342052  76.687193           2485
New York City         2095   81871  835  39.079236  66.748065           2095

                                             Rating                       \
                sum  max      mean       std  count    sum max      mean
City
Boston          628   34  0.252716  1.072511   2485  11727   5  4.719115
Chicago        1030   79  0.412000  3.333872   2500  11680   5  4.672000
Los Angeles    1340   81  0.539235  2.318224   2485  11392   5  4.584306
New York City  1922  210  0.917422  5.575338   2095   9890   5  4.720764


                    std
City
Boston         0.622298
Chicago        0.686298
Los Angeles    0.791355
New York City  0.686076

In [31]:
grp_attrctn = tripadv.groupby('Attraction')
grp_attrctn.size()

Attraction
360 Chicago Observation Deck           500
Boston Tea Party Ships & Museum        490
Central Park                           325
Cloud Gate                             500
Empire State Building                  395
Fenway Park                            500
Freedom Trail                          500
Griffith Observatory                   495
Millennium Park                        500
Museum of Fine Arts                    495
Museum of Science and Industry         500
North End                              500
Petersen Automotive Museum             495
The Art Institute of Chicago           500
The Getty Center                       500
The Metropolitan Museum of Art         490
The National 9/11 Memorial & Museum    420
The Wizarding World of Harry Potter    500
Top of the Rock                        465
Universal Studios Hollywood            495
dtype: int64

In [46]:
grp_attrctn.agg(['count', 'sum', 'max', 'mean', 'std'])

                                    User_Helpful                             \
                                           count    sum min  max       mean
Attraction
360 Chicago Observation Deck                 500  15975   0  651  31.950000
Boston Tea Party Ships & Museum              490  16118   0  707  32.893878
Central Park                                 325  14382   0  835  44.252308
Cloud Gate                                   500  27773   0  807  55.546000
Empire State Building                        395   8038   0  479  20.349367
Fenway Park                                  500  13368   0  266  26.736000
Freedom Trail                                500  25268   0  894  50.536000
Griffith Observatory                         495  21467   0  631  43.367677
Millennium Park                              500  24984   0  771  49.968000
Museum of Fine Arts                          495  24752   0  965  50.004040
Museum of Science and Industry               500   6940   0  854  13.880000
North End                                    500  29471   0  904  58.942000
Petersen Automotive Museum                   495  18303   0  839  36.975758
The Art Institute of Chicago                 500  20534   0  678  41.068000
The Getty Center                             500  21111   0  951  42.222000
The Metropolitan Museum of Art               490  23615   0  799  48.193878
The National 9/11 Memorial & Museum          420  15957   0  464  37.992857
The Wizarding World of Harry Potter          500  21821   0  730  43.642000
Top of the Rock                              465  19879   0  468  42.750538
Universal Studios Hollywood                  495  17548   0  798  35.450505

                                                Review_Helpful                \
                                            std          count  sum min  max
Attraction
360 Chicago Observation Deck          65.654768            500  106   0    3
Boston Tea Party Ships & Museum       62.928929            490  117   0    4
Central Park                          77.184589            325  327   0   73
Cloud Gate                           100.113963            500  197   0   79
Empire State Building                 50.438327            395  144   0    4
Fenway Park                           42.592188            500   86   0    9
Freedom Trail                         93.970707            500  173   0   34
Griffith Observatory                  68.034391            495  382   0   47
Millennium Park                      102.846360            500  285   0   79
Museum of Fine Arts                   89.763995            495  131   0   17
Museum of Science and Industry        56.588711            500  136   0   72
North End                             98.082062            500  121   0   17
Petersen Automotive Museum            84.876330            495  179   0   81
The Art Institute of Chicago          82.916353            500  306   0   64
The Getty Center                      82.957777            500  194   0    9
The Metropolitan Museum of Art        88.435072            490  296   0   84
The National 9/11 Memorial & Museum   56.386177            420  469   0  210
The Wizarding World of Harry Potter   81.288877            500  121   0    6
Top of the Rock                       47.470160            465  686   0   78
Universal Studios Hollywood           63.664043            495  464   0   20

                                                         Rating                \
                                         mean        std  count   sum min max
Attraction
360 Chicago Observation Deck         0.212000   0.476981    500  2199   1   5
Boston Tea Party Ships & Museum      0.238776   0.533276    490  2288   1   5
Central Park                         1.006154   4.717968    325  1566   1   5
Cloud Gate                           0.394000   3.569348    500  2318   1   5
Empire State Building                0.364557   0.763215    395  1850   1   5
Fenway Park                          0.172000   0.595925    500  2344   1   5
Freedom Trail                        0.346000   1.721689    500  2345   1   5
Griffith Observatory                 0.771717   3.160742    495  2285   1   5
Millennium Park                      0.570000   4.152540    500  2318   1   5
Museum of Fine Arts                  0.264646   1.147371    495  2373   1   5
Museum of Science and Industry       0.272000   3.237743    500  2407   1   5
North End                            0.242000   0.899474    500  2377   2   5
Petersen Automotive Museum           0.361616   3.665760    495  2285   1   5
The Art Institute of Chicago         0.612000   3.852680    500  2438   1   5
The Getty Center                     0.388000   0.760666    500  2382   1   5
The Metropolitan Museum of Art       0.604082   3.833762    490  2317   1   5
The National 9/11 Memorial & Museum  1.116667  10.251641    420  2034   1   5
The Wizarding World of Harry Potter  0.242000   0.610066    500  2292   1   5
Top of the Rock                      1.475269   3.624024    465  2123   1   5
Universal Studios Hollywood          0.937374   1.509121    495  2148   1   5


                                         mean       std
Attraction
360 Chicago Observation Deck         4.398000  0.978525
Boston Tea Party Ships & Museum      4.669388  0.659120
Central Park                         4.818462  0.459096
Cloud Gate                           4.636000  0.623122
Empire State Building                4.683544  0.700694
Fenway Park                          4.688000  0.718114
Freedom Trail                        4.690000  0.637741
Griffith Observatory                 4.616162  0.677980
Millennium Park                      4.636000  0.639000
Museum of Fine Arts                  4.793939  0.567297
Museum of Science and Industry       4.814000  0.521486
North End                            4.754000  0.499984
Petersen Automotive Museum           4.616162  0.783265
The Art Institute of Chicago         4.876000  0.439329
The Getty Center                     4.764000  0.577035
The Metropolitan Museum of Art       4.728571  0.659832
The National 9/11 Memorial & Museum  4.842857  0.538779
The Wizarding World of Harry Potter  4.584000  0.787518
Top of the Rock                      4.565591  0.890865
Universal Studios Hollywood          4.339394  1.009050